/* styles.css */
body {
  font-family: Arial, sans-serif;
}

h1 {
  text-transform: uppercase;
  margin-left: 20px;
}

h2 {
  color: rgb(125, 10, 10);
  font-weight: bolder;
  font-size: 2rem;
  background-color: white;
  border: black 2px solid;
  padding: 10px;
  text-align: center;
}

.genero-container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  
}

.genero {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.genero div {
  margin: 20px;
  padding: 20px 30px 40px;
  background-color: rgb(218, 55, 55);
  border-radius: 10px;
  text-align: center;
}

img {
  width: 300px;
  gap: 80px;
  border-radius: 5px;
  
}

p {
  text-align: center;
  overflow: auto;
  font-size: 15px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.651);
  color: white;
  padding: 5px;
  border-radius: 5px;
}


